@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border box;
    font-family:'Poppins',font-size;
}
body { 
display: flex;
justify-content: center;
align-items: top;
min-height: 100vh;
background:#EEEEEE ;

}
.wrapper {
    margin: 150px auto;
    width: 70%;
}

img {
padding-bottom: 240px;
top: auto;
height: 700px;
width: 700px;
max-width: 100%;
height:auto;    
margin: 350px auto;
float: left;
border: 3px solid black;
border-radius: 20px;    
margin-right: 50px;

}

.textbox{
    color:black;
}
.textbox h2{
    font-size: 50px;
}
.textbox p{
    font-size: 20px;
}
   