* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden; /* Disable default scrolling */
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
    height: 300vh; /* Increase height to enable scrolling */
}

.column {
    ms-flex: 32%; /* IE10 */
    flex: 32%;
    max-width: 32%;
    padding: 0 6px;
}

.column .image {
    position: relative;
    opacity: 0; /* Initially hidden */
    transform: translateY(50px); /* Start position for the animation */
    transition: opacity 1s, transform 1s; /* Smooth transition for both properties */
}

.column .image.visible {
    opacity: 1; /* Visible when in the viewport */
    transform: translateY(0); /* End position for the animation */
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    display: block;
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s;
}

.image:hover .content {
    opacity: 1;
}

.content h1 {
    font-size: 45px;
    color: #298cc5;
    margin-bottom: 10px;
}

.content p {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.content > * {
    transform: translateY(25px);
    transition: transform 1s;
}

.image:hover .content > * {
    transform: translateY(0px);
}

@media screen and (max-width: 900px) {
    .column {
        flex: 48%;
        max-width: 48%;
    }
}

@media screen and (max-width: 620px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
